body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.grid-image {
  width: 50%; padding-left: 20px;
}
.col-sm {
  padding-left: 20px;
}
.container-fluid {
  width:100%;
}

.carousel-control-next, .carousel-control-prev {
    display: inline-block;
    width: 30px;
    height: 20px;
}
.embed-responsive embed-responsive-16by9
{
  width:50px;
}
h1 {color: red;
}

h2 {color: blue}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31.33%;
  padding: 10px;
  margin: 1%;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";s
  display: table;
  clear: both;
}

address {
margin-bottom: 1rem;
font-style: normal;
line-height: inherit;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Sans:400,600,700,700i|Open+Sans+Condensed:300,300i,700');*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans+Condensed:300,300i,700|Quicksand');

* {
  transition: all ease-in-out 250ms;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 30px;
  text-transform: none;
}
body {
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:25px;
}
.topnav-bar img {
  max-width: 55px;
  float: left;
  padding: 15px 0 10px 30px;
}
.topnav-bar {
  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
}
.topnav-bar h1 {
  float: left;
  font-family: 'Julius Sans One', sans-serif;
  margin: 0 auto;
  letter-spacing: -0.5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  padding: 25px 0 5px 10px;
}
.topnav-bar h1 span {
  color: rgb(237,125,49)
}
.topnav-bar ul {
  float: right;
  list-style:none;
  padding: 0 20px 0 0;
}
.topnav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px 0px 15px;
}
.topnav-bar a{
  color: #C8C8C8;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
.topnav-bar a:hover {
  color: black;
  font-size: 23px;
}
.topnav-bar a.active {
  color: black;
  font-size: 23px;
}

/*
.home-showcase {
  background-image: url('../img/home-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 11em 0;
  color: white;
} */

/* Slideshow container */
.slideshow-container {
  position:relative;
  height: 100%;
  width: 100%;
}

.slideshow-container h1 {
  position: relative;
  text-shadow: black 1px 0 10px;
  color: rgba(256,256,256,0.9);
  padding: 40px;
}


.mySlides .img{
	display:block;
	width:100%;
	margin: 0 auto;
}

.slideshow-container img {
	position:relative;
	max-width: 100%;
	width: 100%;
}

.img{
	display:block;
	width:100%;
	margin: 10 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 170px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  border-width: 1.5px;
  text-decoration: none;
  border-style: solid;
  padding:10px 20px 10px 20px;
  background-color: white;
}

button:hover {
  background-color: rgba(0,0,0,0.3);
  color: white;
}

article h2 {
  text-transform: capitalize;
}

article {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

article img {
  max-width: 600px;
  padding-bottom: 30px;
}

article ul{
  list-style-type: circle;
}

article li{
	font-size: 22px;
	letter-spacing: 0.5px;
}

.image img:hover {
  opacity: 0.5;
  transition: all ease-in-out 500ms;
}

/* Contact form format */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #434;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(247,165,49);
    color: red;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(237,125,49);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Footer */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Smaller screen */
@media (max-width: 500px) {
  .topnav-bar {
    text-align: center;
  }
  .topnav-bar h1 {
    float: none;
    font-size: 36px;
    padding: 10px 0 0 10px;
  }
  .topnav-bar img{
    padding: 5px 0 5px 20px;
  }
  .topnav-bar ul {
    float: none;
  }
  .topnav-bar li {
    display: block;
    padding: 5px;
  }

}

.container-fluid img{
  height: 400px;
  width: 400px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* Contact form format */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(237,125,49);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(237,125,49);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Footer */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.article img {
 max-width: 600px;
 padding-bottom: 30px;
}

/* Smaller screen */
@media (max-width: 500px) {
  .topnav-bar {
    text-align: center;
  }
  .topnav-bar h1 {
    float: none;
    font-size: 36px;
    padding: 10px 0 0 10px;
  }
  .topnav-bar img{
    padding: 5px 0 5px 20px;
  }
  .topnav-bar ul {
    float: none;
  }
  .topnav-bar li {
    display: block;
    padding: 5px;
  }

}

.container-fluid img{
  height: 400px;
  width: 400px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
